.square{
    text-align: center;

    width: 60%;
    max-width: 400px;

    margin: 0 auto;

    margin-top: 30px;
    padding: clamp(1rem, 5%,5rem);

    background-color: #F36533;

    border-radius: 1rem;
}

.button{
    --background: var(--ion-color-primary);

    display: block;
    width: 100%;
    
    color: black;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{      
    font-size: clamp(1.8rem, calc(5vw + 1rem), 3rem);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;

    color: #ffffff;}