<ion-content>
    <div class="square">
        <h1>Nytt Konto</h1>

        <ion-input 
            label="Användarnamn"
            labelPlacement="stacked"
            [(ngModel)]="name">
        </ion-input>

        <ion-input 
            label="lösenord" 
            type="password"
            labelPlacement="stacked"
            [(ngModel)]="password">
        </ion-input>
        <!--uprepa lösen måste fix-->

        <ion-button class="button" expand="block" (click)="createAccount()">skapa</ion-button>
        <ion-button class="button" expand="block" (click)="return()">tillbaka</ion-button>
    </div>
</ion-content>