:root {
  --ion-background-color: #ffffff;
}

.wrapper {
  position: relative; 
}

.logout{
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10;

    color: rgb(255, 255, 255);
    --background: var(--ion-color-secondary);

    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Button{
  --background: var(--ion-color-secondary);

    
    
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}