:root {
  --ion-background-color: #ffffff;
}


.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logout{
    color: rgb(255, 255, 255);
    --background: var(--ion-color-secondary);

    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Button{
    --background: var(--ion-color-secondary);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.map {
    height: 100vh;
    width: 100%;
    margin-top: 20px;
}